/* span is the sibblings of p */
p ~ span{
    background-color: cadetblue;
}

div{
    background-color: 
}
.parentDiv{
    background-color: aqua;
    width: 500px;
    height: 300px;
    border:solid 5px black;
    margin 100px;
    text-align: center;
}
.parentDiv > p{
    color: blue;
}

