p{
    color: rgb(208, 22, 28);


}
.para{
    color: red;
}
.spanelement{
    color: plum;
}
body{
     
    
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100%;
}